IRC/Config/BotConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BotConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Server">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Url" type="xs:string" />
              <xs:element name="Port" type="xs:unsignedShort" />
              <xs:element name="User">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Nick" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Password" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PluginFolders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PluginFolder" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Commands">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Command">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="Alias" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Rank" type="xs:int" use="required" />
                  <xs:attribute name="AuthenticationRequired" type="xs:boolean" use="required" />
                  <xs:attribute name="ConsoleServer" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Both"/>
                        <xs:enumeration value="Server"/>
                        <xs:enumeration value="Console"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Prefixes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Prefix" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Authenticator">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HostMask" type="xs:string" />
                    <xs:element name="AuthenticationCode" type="xs:string" />
                    <xs:element name="MessagePosition" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="UserGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="UserGroup">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="User" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Rank" type="xs:int" use="required" />
                        <xs:attribute name="Name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="About" type="xs:string" />
        <xs:element name="QuitMessages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="QuitMessage" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>